{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
        .slider-link-post:hover{
            text-decoration: none;
        }
        .uk-container{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        /* Create two equal columns that floats next to each other */
            .column1 {
              float: left;
              width: 78%;
              padding: 10px;
              height: 300px; /* Should be removed. Only for demonstration */
            }
            
            .column2 {
              float: right;
              width: 18%;
              height: 300px; /* Should be removed. Only for demonstration */
            }

            /* Clear floats after the columns */
            .ligne:after {
              content: "";
              display: table;
              clear: both;
            }
        .text-overlay{
            font-size: 14px;
        }
        .uk-overlay{
            padding: 15px;
        }
        .uk-overlay>:last-child{
            text-align: right;
        }
        .text-overlay{
            text-align: right;
        }
        .slider-post{
            width: 77%;
            margin-left: 11%;
        }
        .slider-post .uk-width-3-4 {
            width: 80%;
        }
        .uk-slider-items .uk-panel img{
            width: 100%;
            height: 400px;  
        }
        .perv-next{
            color: red;
        }
        @media screen and (max-width: 400px){
            .text-overlay{
                font-size: 11px;
            }
            .uk-overlay>:last-child{
                font-size: 11px;
            }
            .uk-overlay{
                padding: 5px;
            }
            .slider-post {
                width: 97%;
                height: 233px;
                margin-left: 0;
            }
            .uk-slider-items li{
                margin-right: -8px;
                margin-left: -8px;
            }
            .uk-slider-items .uk-panel img {
                height: 238px;
            }
            .uk-slider-items h3 {
                font-size: 17px;
            }
        }
    </style>
{% endblock %}    
{% block body %}
    <div style="margin-bottom: 50px;">
        <div style="margin-bottom: 50px;" class="slider-post uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="clsActivated: uk-transition-active; center: true">

            <ul class="uk-slider-items uk-grid">
                {% for post in postsInSlider %}
                <li class="uk-width-3-4">
                    <div class="uk-panel">
                        <img src="{{ asset('uploads/articles/') }}{{ post.image }}" alt="">
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <a href="{{ path('front_posts_show', { 'id': post.id }) }}" class="slider-link-post">
                                <h3 class="uk-margin-remove">{{ post.title|length>70?post.title|slice(0, 70)~'...':post.title }}</h3>
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover perv-next" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover perv-next" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <div class="uk-child-width-1-3@m" uk-grid>
            {% for post in posts %}
                <div>

                    <div class="uk-inline" style="overflow: hidden;">
                        <a href="{{ path('front_posts_show', { 'id': post.id }) }}">
                            <img src="{{ asset('uploads/articles/') }}{{ post.image }}" alt="" style="width: 584px;height: 350px;margin-top: -50px;transform: translateY(50px);">
                        </a>
                        <a href="{{ path('front_posts_show', { 'id': post.id }) }}">
                            <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                                <p class="text-overlay" style='color: #FFF;'>{{ post.title|length>70?post.title|slice(0, 70)~'...':post.title }}</p>
                            </div>
                        </a>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}    
