{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-child-width-1-1@m" uk-grid>
    <h1>Competitions</h1>
    <div class="uk-inline">
        <div class="uk-position-left">
            <a href="{{ path('admin_posts_index') }}" class="uk-button uk-button-default">Articles</a>
        </div>
        <div class="uk-position-right">
            <a href="{{ path('admin_competitions_new') }}" class="uk-button uk-button-default">Créer une compétition</a>
        </div>
    </div>
    <br><br><br>
    <table class="uk-table uk-table-striped" id="zero_config">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competion in competions %}
            <tr>
                <td><a href="{{ path('admin_competitions_show', { 'id': competion.id }) }}">{{ competion.id }}</a></td>
                <td>{{ competion.title }}</td>
                <td>{{ competion.content }}</td>
                <td>
                    <div class="uk-button-group">
                    <a href="{{ path('admin_competitions_show', { 'id': competion.id }) }}" class="uk-button uk-button-secondary" uk-icon="icon: search"></a>
                    <a href="{{ path('admin_competitions_edit', { 'id': competion.id }) }}" class="uk-button uk-button-primary" uk-icon="icon: pencil"></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
