{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/front/bootstrap.min.css')}}">
{% endblock %}
{% block body %}
    <h1>Post edit</h1>
    <div class="row">
        <div class="col-md-12">
    {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}
        <div class="uk-margin">
            {{ form_widget(form.title, {'attr': {'class': 'uk-input', 'required': 'true'},}) }}
        </div>
        <div class="uk-margin">
            {{ form_widget(form.content, {'attr': {'class': 'ckeditor', 'required': 'true'},}) }}
        </div>
        
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-radio" type="radio" name="representation" value="1" {{post.isVertical == 1?'checked':''}}> Vérticale</label>
            <label><input class="uk-radio" type="radio" name="representation" value="0" {{post.isVertical == 0?'checked':''}}> Horizansale</label>
        </div>
        <div class="uk-margin">
            <div class="file-loading">
                <input id="kv-explorer" class="file" type="file" name="image">
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Enregistrer" />
        <a class="btn btn-default" href="{{ path('admin_posts_index') }}">Liste d'articles</a>
        <button class="btn btn-danger uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Supprimer</button>
        <!-- This is the modal -->
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Suppression</h2>
                <p>Etes-vous sùre de vouloir supprimer cet article ?</p>
                <p class="uk-text-right">
                        <a href="{{ path('admin_posts_delete', {id:post.id}) }}" class="btn btn-danger">Oui</a>
                        <button class="btn btn-default uk-modal-close" type="button">Non</button>
                </p>
            </div>
        </div>
    {{ form_end(form) }}
        </div>
        
            
    </div>   
    <br><br><br><br>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/front/bootstrap.min.js')}}"></script>
    <script>
        $("#kv-explorer").fileinput({
            'theme': 'explorer-fa',
            'uploadUrl': '#',
            language: 'fr',
            allowedFileExtensions: ['jpg', 'png', 'gif', 'pdf', 'txt', 'csv', 'ods', 'xls', 'docx', 'jpeg'],
            overwriteInitial: false,
            initialPreviewAsData: true,
            {% if(post.image) %}
            initialPreview: [
                "{{ asset('uploads/articles/') }}{{ post.image }}"
            ],
            initialPreviewConfig: [
                {caption: "{{ asset('uploads/articles/') }}{{ post.image }}", width: "120px", url: "{{path('admin_posts_delete_image', {id:post.id})}}", key: 1}
            ],
            {% endif %}
        });
    </script>
{% endblock %}
