{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-child-width-1-1@m" uk-grid>
    <h1>Articles</h1>
    
    <a href="{{ path('admin_posts_new') }}">Create a new post</a>

    <table class="uk-table uk-table-striped" id="zero_config">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('admin_posts_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.title|length>70?post.title|slice(0, 70)~'...':post.title }}</td>
                <td><a href="{{ asset('uploads/articles/') }}{{ post.image }}">Image</a></td>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_posts_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_posts_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="uk-child-width-1-2@m" uk-grid>
{% endblock %}
