{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-child-width-1-1@m" uk-grid>
        <h1>Articles</h1>
        <div class="uk-inline">
            <div class="uk-position-right">
                <a href="{{ path('admin_posts_new') }}" class="uk-button uk-button-default">Créer un articles</a>
                <a href="{{ path('admin_competitions_index') }}" class="uk-button uk-button-default">Competitions</a>
            </div>
        </div>
        <br><br><br>
        <div class="uk-margin">
        <table class="uk-table uk-table-striped" id="zero_config">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Image</th>
                    <th>Createdat</th>
                    <th>Updatedat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{{ path('admin_posts_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.title|length>70?post.title|slice(0, 70)~'...':post.title }}</td>
                    <td><a href="{{ asset('uploads/articles/') }}{{ post.image }}">Image</a></td>
                    <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <div class="uk-button-group">
                            <a href="{{ path('admin_posts_show', { 'id': post.id }) }}" class="uk-button uk-button-secondary" uk-icon="icon: search"></a>
                            <a href="{{ path('admin_posts_edit', { 'id': post.id }) }}" class="uk-button uk-button-primary" uk-icon="icon: pencil"></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
