{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content|raw }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ post.image }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_posts_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_posts_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            <button class="btn btn-danger uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Supprimer</button>
        <!-- This is the modal -->
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Suppression</h2>
                <p>Etes-vous sùre de vouloir supprimer cet article ?</p>
                <p class="uk-text-right">
                        <a href="{{ path('admin_posts_delete', {id:post.id}) }}" class="btn btn-danger">Oui</a>
                        <button class="btn btn-default uk-modal-close" type="button">Non</button>
                </p>
            </div>
        </div>
        </li>
    </ul>
{% endblock %}
